PetrMazepa.xcodeproj/project.xcworkspace/xcshareddata/PetrMazepa.xccheckout
PetrMazepa.xcodeproj/project.xcworkspace/xcuserdata/artem.xcuserdatad/UserInterfaceState.xcuserstate
PetrMazepa.xcodeproj/xcuserdata/artem.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PetrMazepa.xcodeproj/project.xcworkspace/xcuserdata/romankopaliani.xcuserdatad/UserInterfaceState.xcuserstate
xcuserdata/
.DS_Store
UserInterfaceState.xcuserstate
Pods/