PetrMazepa.xcodeproj/project.xcworkspace/xcshareddata/PetrMazepa.xccheckout
PetrMazepa.xcodeproj/project.xcworkspace/xcuserdata/artem.xcuserdatad/UserInterfaceState.xcuserstate
PetrMazepa.xcodeproj/xcuserdata/artem.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PetrMazepa.xcodeproj/xcuserdata/artem.xcuserdatad/xcschemes/PetrMazepa.xcscheme
PetrMazepa.xcodeproj/xcuserdata/artem.xcuserdatad/xcschemes/xcschememanagement.plist
PetrMazepa.xcodeproj/project.xcworkspace/xcuserdata/romankopaliani.xcuserdatad/UserInterfaceState.xcuserstate
PetrMazepa.xcodeproj/xcuserdata/romankopaliani.xcuserdatad/xcschemes/xcschememanagement.plist
xcuserdata/
.DS_Store
UserInterfaceState.xcuserstate
